@import "~antd/dist/antd.css";

.tabs {
  border-color: #c7254e;
  border-width: 10px;
}

.card-container {
  position: absolute;
  //margin-left: 2em;
  top: 22vh;
  height: 65vh;
  left: -20vw;
  width: 20vw;
  opacity: .8;
  transition: transform 0.3s ease-in;
  .searchCard {
    width: 100%;
    background-color: #dddddd;
  }
  .productList {
    height: calc(100% - 100px) !important;
    margin-top: 10px;
    width: 103% !important;
  }
  .timeline_content {
    height: 30vh;
    overflow: auto;
    :global {
      li {
        padding: 1px !important;
      }
    }
  }
  :global {
    .tab {
      font-size: .8em;
      white-space: nowrap;
      border: solid 1px;
      border-top-right-radius: 2em;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: 1.5em;
      margin: 0;
    }
    .ant-tree {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: rgba(255, 255, 255, 0.65);
      background-color: #3C5880;
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1;
      list-style: none;
      -webkit-font-feature-settings: 'tnum';
      font-feature-settings: 'tnum';
      margin: 0;
      padding: 0;
    }
    .ant-tree li .ant-tree-node-content-wrapper {
      display: inline-block;
      height: 18px;
      margin: 0;
      padding: 0 5px;
      color: rgba(255, 255, 255, 0.65);
      line-height: 24px;
      text-decoration: none;
      vertical-align: top;
      border-radius: 2px;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }

    .ant-tabs-card > .ant-tabs-content {
      height: 65vh;
      margin-top: -16px;
      color: #fff;
    }
    .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
      background-color: #3C5880;
      padding: 16px;
    }
    .ant-tabs-content {
      background-color: #3C5880;
    }
    .ant-tabs-card-content {
      background-color: #3C5880;
    }
    .ant-tabs-card > .ant-tabs-bar {
      border-color: #fff;
    }

    .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
      color: #fff;
      background-color: #213047;
      white-space: nowrap;
      border: 1px solid transparent;
      border-top-right-radius: 2em;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-color: #fff;
      padding-right: 1.5em;
      margin: 0;
    }
    .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
      border-color: #fff;
      border-bottom-color: #3C5880;
      background-color: #3C5880;
    }
  }
}

.card-container-show {
  -webkit-transform: translateX(20vw); /*兼容-webkit-引擎浏览器*/
  -moz-transform: translateX(20vw); /*兼容-moz-引擎浏览器*/
  transform: translateX(20vw);
  transition: transform 0.3s ease-in;
}
