@import "../../default";

@titleColor: #5a5a5a;
@cardMargin: 16px;
@boxShadow:0 2px 4px -2px #000000;
.home__main {
  background-color: @page_background_color;
  width: 1260px;
  margin: 0px auto;;
  padding: 12px 24px;
}


/*横向时间轴*/
.time__horizontal {
  height: 100px;
  list-style-type: none;
  border-top: 1px solid #707070;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.time__horizontal li {
  float: left;
  position: relative;
  text-align: center;
  width: 12.5%;
  padding-top: 10px;
}

.time__horizontal li b:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 48%;
  width: 12px;
  height: 30px;
  border: 2px solid #4c4c4c;
  border-radius: 8px;
  background: #4c4c4c;
}

.timeLine__box{
  text-align: center;
}

.home__main__welcomeCard {
  background-color: @cardBackgroundColor;
  border-radius: 5px;
  padding: 5px;
  box-shadow:@boxShadow;
  .banner {
    height:200px
  }
  .title {
    position: absolute;
    right: 5%;
    top: 300px;
    font-size: 40px;
    width: 300px;
    color: #fff;
  }
  .title__box {
    font-size: 50px;
    color: #ffffff;
    padding-left: 0px;
    font-weight: bold;
    background-color: #78dbff;
    height: 300px;
    text-align: right;
    line-height: 70px;
    border-style:none none solid none;
    border-width: 0px;
  }
  .belong__box{
    font-size: 40px;
    color: #ffffff;
    padding-left: 0px;
    font-weight: bold;
    background-color: #78dbff;
    height: 300px;
    text-align: left;
    line-height: 70px;
    border-style: none none solid none;
    border-width: 0px;
  }
  .text__box {
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0 5px 0;
    text-align: justify;
  }
  .touxiang {
    margin: 15px 2.5% 15px;
    height: 100px;
    width: 95%;
    box-shadow:@boxShadow;
  }
}

.home__main__left__satellites {
  margin: @cardMargin 0;
  .satelliteCard {
    margin: 8px 0;
    position: relative;
    //padding: 10px;
    background-color: @cardBackgroundColor;
    //height: 180px;
    box-shadow:@boxShadow;
    img {
      width: 100%;
      //height: calc(100% - 50px);
      height: 100%;
    }
    .satelliteCard__name {
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: @titleBackgroundColor;
      border-radius: 5px;
      color: @titleColor;
      width: calc(100% - 10px);
      position: absolute;
      bottom: 5px;
      left: 5px;
      border-style:solid;
      border-width: 1px;
    }
  }
  .dataCenterCard {
    margin: 8px 0;
    padding: 10px;
    background-color: @cardBackgroundColor;
    height: 200px;
    position: relative;
    cursor: pointer;
    box-shadow:@boxShadow;
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
    .title {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      font-size: 25px;
      color: #fff;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      .title {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.home__main__left__news {
  margin: @cardMargin 0;
  box-shadow:@boxShadow;
  .home__main__left__news__header {
    position: relative;
    font-size: 20px;
    color: @titleColor;
    font-weight: bold;
    padding-left: 10px;
    border-radius: 5px;
    background-color: @titleBackgroundColor;
    height: 40px;
    line-height: 40px;
  }
  .news__search {
    position: absolute;
    bottom: 1px;
    right: 100px;
    height: 100%;
    width: 250px;
    padding: 6px;
    :global {
      input {
        height: 100%;
        border: none;
        border-radius: 0;
      }
    }
  }
  .news__all {
    text-align: right;
    font-size: 12px;
    right: 8px;
    position: absolute;
    width: 100px;
    cursor: pointer;
    &:hover {
      font-size: 11px;
    }
  }
  .home__main__left__news__list {
    overflow: hidden;
    background-color: @cardBackgroundColor;
  }
}

.home__main__right__webInfo {
  margin: @cardMargin 0;
  background-color: @cardBackgroundColor;
  border-radius: 5px;
  padding: 5px;
  box-shadow:@boxShadow;
  .webInfo__title__box {
    font-size: 20px;
    color: @titleColor;
    padding-left: 10px;
    background-color: @titleBackgroundColor;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    border-style:none none solid none;
    border-width: 1px;
  }
  .webInfo__content__box {
    .info_listItem {
      display: flex;
      margin: 5px;
      height: auto;
      position: relative;
      align-items: center;
    }
    .info_icon {
      width: 40%;
      font-size: 90px;
      margin:5px
    }
    .info_box{
      width: 60%;
      margin: 20px 0;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
    .info_value {
      font-size: 22px;
      color: #1E71A2;
      font-weight: bold;
      text-align: center;
    }
  }
}

.home__main__right__links {
  margin: @cardMargin 0;
  background-color: @cardBackgroundColor;
  border-radius: 5px;
  padding: 5px;
  box-shadow:@boxShadow;
  .link__title__box {
    font-size: 20px;
    color: @titleColor;
    padding-left: 10px;
    background-color: @titleBackgroundColor;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    border-style:none none solid none;
    border-width: 1px;
  }
  .links__list {
    background-color: @cardBackgroundColor;
    padding: 0 8px;
    .link__name {
      word-break: break-all;
      margin-left: 10px;
      font-weight: bold;
    }
  }
}

.home__main__right__contactUs {
  margin: @cardMargin 0;
  background-color: @cardBackgroundColor;
  border-radius: 5px;
  padding: 5px;
  box-shadow:@boxShadow;
  .contactUs__title__box {
    font-size: 20px;
    color: @titleColor;
    padding-left: 10px;
    background-color: @titleBackgroundColor;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    border-style:none none solid none;
    border-width: 1px;
  }
  .contactUs__content__box {
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0 5px 0;
    word-break:break-all;
    text-align: justify;
  }
}

.home__main__left__achievement {
  margin: @cardMargin 0;
  box-shadow:@boxShadow;
  .home__main__left__achievement__header {
    position: relative;
    font-size: 20px;
    color: @titleColor;
    font-weight: bold;
    padding-left: 10px;
    border-radius: 5px;
    background-color: @titleBackgroundColor;
    height: 40px;
    line-height: 40px;
  }
  .achievement__search {
    position: absolute;
    bottom: 1px;
    right: 100px;
    height: 100%;
    width: 250px;
    padding: 6px;
    :global {
      input {
        height: 100%;
        border: none;
        border-radius: 0;
      }
    }
  }
  .achievement__all {
    text-align: right;
    font-size: 12px;
    right: 20px;
    position: absolute;
    width: 150px;
    cursor: pointer;
    &:hover {
      font-size: 11px;
    }
  }
  .home__main__left__achievement__list {
    overflow: hidden;
    background-color: @cardBackgroundColor;
  }
}

.home_footer{
  //background-color: @themeColor;
  background-image: url("../../assets/header_back.png");
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
padding: 25px;
}

@media screen and (min-width: 980px)and(max-width:1400px ) {
  .info_box {
    font-size: 14px !important;
    .info_value{
      font-size: 16px !important;
    }
  }
}
