.panel {
    width:400px;
	.logo {
	  height: 60px;
	background: #2093ef;
	margin: 5px;
	}
	.layerinput {
		margin:  8px;
		padding: 0 8px;
		text-align: center;
		border-style: dotted; 
		border-width: 2px;
		border-color: grey;
		
		.layerinput_block{
			width:100%;
			margin:4px 0;
			.layerinput_block_son{ 
				align: left;
				width:60%;
			}
			.layerinput_label{
				color:white;
				padding: 0  0 0 17px;
			}
		}
		.layertitle_block{
			color: white;
			line-height: 40px;
		}
		.layerbutton_block{
			margin:10px  ;		
		}
		.layerlabel_block{
			width:100%;
		}
		
		.color_block{
			width:40%;
			margin: 0 13px;
		}
	}
	
}


.checkIcon {
  position: absolute;
  right: 5px;
}
