@import "~antd/dist/antd.css";

.tabs{
  border-color: #c7254e;
  border-width: 10px;
}
.card-container {
  position: absolute;
  margin-left: 75vw;
  margin-top: 50vh;
  //left: -35em;
  width: 35em;
  background-color: white;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
}
