@import "~antd/dist/antd.css";

.rectangle {
  position: relative;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  margin-right:0.6em;
  left:0.3em;
  width:2em;
  height:1.5em;
  background-color: #f3f5f8;
}
.rectangleFont {
  margin-top:0.5em;
  margin-left:0.3em;
  font-size:1em;
  color:white;
}

.legendContainer {
  height: 100%;
  width: 100%;
  .card-for-pic {
    height: 100%;
    width:2.5vw;
  }
  .pic {
    display:block;
    transform-origin:left top;
    //margin-bottom:2vh;
    transform:rotate(-90deg) ;
    position: relative;
    left: 0;
    top: 0;
    height: 2.5vw;
    width:100%;
  }
  .textContainer {
    position: absolute;
    float: left;
    height: 100%;
    left: 2.5vw;
    bottom: 0;
    width: calc(100% - 2.5vw);
  }
  .text {
    position: absolute;
    left: 1em;
    color:white;
    margin: 0;
  }
}


//.card-container2 {
//  position:absolute;
//  left: 10px;
//  top: 180px;
//  width:160px;
//  height:40px;
//  //left: -35em;
//  background-color: rgba(0,0,0,0);
//}
//.card-container3 {
//  position:absolute;
//  margin-left: 60vw;
//  margin-top: 80vh;
//  width:160px;
//  height:200px;
//  //left: -35em;
//  background-color: rgba(0,0,0,0.5);
//}
//.pic {
//  display:block;
//  transform-origin:left top;
//  //margin-bottom:2vh;
//  margin-left:0;
//  transform: rotate(-90deg);
//  position: relative;
//  //transform: rotate(-90deg);
//  width:100%;
//}
//.text {
//  margin-left: 40px;
//  //margin-top: 60vh;
//  height:20px;
//  color:white;
//}
