@import "~antd/dist/antd.css";

.card-container {
  position: absolute;
  right: 20em;
  bottom: 5em;
  width:5vw;
  background-color: rgba(0,0,0,0.5);
}
.rectangle {
  position: relative;
  margin-top:0.5em;
  margin-right:0.6em;
  left:0.3em;
  width:2em;
  height:1.5em;
  background-color: #f3f5f8;
}
.rectangleFont {
  margin-top:0.5em;
  margin-left:0.3em;
  font-size:0.2em;
  color:white;
}
.card-for-pic {
  position:absolute;
  left: 0.5em;
  top: 9em;
  width:8em;
  height:2em;
  //left: -35em;
  background-color: rgba(0,0,0,0);
}
.card-container-continuous {
  position:absolute;
  right: 50em;
  bottom:5em;
  width:8em;
  height:10em;
  //left: -35em;
  background-color: rgba(0,0,0,0.5);
}
.pic {
  display:block;
  transform-origin:left top;
  //margin-bottom:2vh;
  margin-left:0;
  transform: rotate(-90deg);
  position: relative;
  //transform: rotate(-90deg);
  width:100%;
}
.text {
  left: 2em;
  position: absolute;
  //margin-top: 60vh;
  height:1em;
  color:white;
}
//.card-container2 {
//  position:absolute;
//  left: 10px;
//  top: 180px;
//  width:160px;
//  height:40px;
//  //left: -35em;
//  background-color: rgba(0,0,0,0);
//}
//.card-container3 {
//  position:absolute;
//  margin-left: 60vw;
//  margin-top: 80vh;
//  width:160px;
//  height:200px;
//  //left: -35em;
//  background-color: rgba(0,0,0,0.5);
//}
//.pic {
//  display:block;
//  transform-origin:left top;
//  //margin-bottom:2vh;
//  margin-left:0;
//  transform: rotate(-90deg);
//  position: relative;
//  //transform: rotate(-90deg);
//  width:100%;
//}
//.text {
//  margin-left: 40px;
//  //margin-top: 60vh;
//  height:20px;
//  color:white;
//}
